### Data Preparation Project. 
*** Scenario: 

You have been retained by a haulage company to analyse a dataset based on data collected from heavy Scania trucks in everyday usage. The system in focus is the Air Pressure system (APS) which generates pressurised air that are utilized in various functions in a truck, such as braking and gear changes. The dataset’s  positive class consists of component failures for a specific component of the APS system.

The negative class consists of trucks with failures for components not related to the APS. The data consists  of a subset of all available data, selected by experts. This analysis will help determine the investment strategy for the company in the upcoming year.

All data wrangling, analysis, and visualizations must generated using python.

The companies CTO also requires you to rationalize all the decisions that you have made in your report.

In [137]:
%matplotlib inline

In [138]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; 
import warnings 
warnings.filterwarnings('ignore') 
sns.set()

In [139]:
aps_failure = pd.read_csv("aps_failure_set.csv")
aps_failure.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [140]:
aps_failure.shape

(60000, 171)

In [141]:
aps_failure.describe()

             aa_000
count  6.000000e+04
mean   5.933650e+04
std    1.454301e+05
min    0.000000e+00
25%    8.340000e+02
50%    3.077600e+04
75%    4.866800e+04
max    2.746564e+06

In [142]:
aps_failure.dtypes

class     object
aa_000     int64
ab_000    object
ac_000    object
ad_000    object
           ...
ee_007    object
ee_008    object
ee_009    object
ef_000    object
eg_000    object
Length: 171, dtype: object

### ADD OBSERVATION HERE ABOUT CLEAN DATA.

In [143]:
aps_failure.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [144]:
aps_failure = aps_failure.replace('na', 0 )

In [145]:
aps_failure.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,0,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,0,0,0,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,0,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,0,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [146]:
aps_no_label = aps_failure.drop(columns=['class'])

In [147]:
aps_no_label.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,0,2130706438,280,0,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,33058,0,0,0,0,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,41040,0,228,100,0,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,12,0,70,66,0,10,0,0,0,318,...,240,46,58,44,10,0,0,0,4,32
4,60874,0,1368,458,0,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

### We are going to use Class as a target variable and try to find the partterns using PCA.

In [149]:
from sklearn.preprocessing import StandardScaler

In [150]:
scaler=StandardScaler()
scaler.fit(aps_no_label)

StandardScaler()

In [151]:
StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler()

In [152]:
scaled_data=scaler.transform(aps_no_label)

In [153]:
scaled_data

array([[ 0.11938141, -0.0963075 ,  2.31022415, ..., -0.1756986 ,
        -0.02025676, -0.02353972],
       [-0.18069661, -0.0963075 , -0.43285893, ..., -0.14392708,
        -0.02025676, -0.02353972],
       [-0.12581066, -0.0963075 , -0.43285864, ..., -0.16481156,
        -0.02025676, -0.02353972],
       ...,
       [-0.40724039, -0.0963075 ,  2.31022414, ..., -0.1756986 ,
        -0.02025676, -0.02353972],
       [ 0.14409453, -0.0963075 ,  2.31022414, ...,  8.05147339,
        -0.02025676, -0.02353972],
       [-0.13143541, -0.0963075 , -0.43285803, ..., -0.172352  ,
        -0.02025676, -0.02353972]])

In [155]:
from sklearn.decomposition import PCA